@(laundry: Laundry)


@asMoney(value: Double) = @{
    String.format("R$%.2f", value)
}
@main("Machines for "+laundry.getName) {
    <section class="panel panel-default">
        <header class="panel-heading">
            <h2 class="panel-title">Machines for @laundry.getName</h2>
        </header>
        <div class="panel-body">
            <a class="btn btn-info" href="@routes.AdminController.machineForm">New machine</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Use price</th>
                        <th>Cycle duration</th>
                        <th>Active until</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @for(machine <- laundry.getMachines) {
                    <tr>
                        <td>@machine.getId</td>
                        <td>@machine.getType</td>
                        <td>@asMoney(machine.getUsePrice.doubleValue)</td>
                        <td>@machine.getCycleDuration</td>
                        <td>@machine.getActiveUntil</td>
                        <td>
                            <select class="actions" data-id="@machine.getId" data-model="machine">
                                <option selected></option>
                                <option value="/edit">Edit</option>
                                <option value="/delete">Delete</option>
                            </select>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
}
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/actions.js")"></script>