@(users: List[User])

@accessCount(user: User) = @{
    user.getRequests().size()
}

@lastAccess(user: User) = @{
    var ultimo = accessCount(user) - 1
    if(ultimo >= 0) {
        user.getRequests().get(ultimo).getDate()
    }
}
@asMoney(value: Double) = @{
    String.format("R$%.2f", value)
}
@main("Users list") {
    <section class="panel panel-default">
        <header class="panel-heading">
            <h2 class="panel-title">Users list</h2>
        </header>
        <div class="panel-body">
            <a class="btn btn-info" href="@routes.AdminController.userForm">Create user</a>
            <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Token</th>
                          <th>Credit</th>
                          <th>Requests</th>
                          <th>Last request</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                  @for(user <- users) {
                      <tr>
                          <td>@user.getId</td>
                          <td>@user.getName</td>
                          <td>@user.getEmail</td>
                          <td>@user.getToken</td>
                          <td>@asMoney(user.getTotalCredits.doubleValue)</td>
                          <td>@accessCount(user)</td>
                          <td>@lastAccess(user)</td>
                          <td>
                              <select class="actions" data-id="@user.getId" data-model="user">
                                  <option selected></option>
                                  @*<option value="/edit">Edit</option>*@
                                  <option value="/delete">Delete</option>
                              </select>
                          </td>
                      </tr>
                  }
                  </tbody>
              </table>
            </div>
        </div>
    </section>
}
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/actions.js")"></script>
